In [24]:
import numpy as np
import pandas as pd
import seaborn as sns

In [25]:
df=sns.load_dataset('titanic')

In [26]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

### one hot encoding

In [27]:
pd.get_dummies(df.sex).head(3)

   female  male
0       0     1
1       1     0
2       1     0

### dummy encoding

In [28]:
pd.get_dummies(df.sex,drop_first=True).head(3)

   male
0     1
1     0
2     0

### Binary encoding

In [29]:
import category_encoders as ce
encoder= ce.BinaryEncoder(cols=['age'],return_df=True)
print(df.age.nunique())

88

In [30]:
encoder.fit_transform(df.age)

C:\Users\Shahdab\anaconda3\envs\tf\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

     age_0  age_1  age_2  age_3  age_4  age_5  age_6  age_7
0        0      0      0      0      0      0      0      1
1        0      0      0      0      0      0      1      0
2        0      0      0      0      0      0      1      1
3        0      0      0      0      0      1      0      0
4        0      0      0      0      0      1      0      0
..     ...    ...    ...    ...    ...    ...    ...    ...
886      0      0      0      0      1      0      0      0
887      0      0      0      1      0      1      0      0
888      0      0      0      0      0      1      0      1
889      0      0      0      0      0      0      1      1
890      0      0      1      0      0      1      0      0

[891 rows x 8 columns]

### Mean Encoding

In [32]:
Mean_encoded_subject = df.groupby(['sex'])['survived'].mean().to_dict() 
  
df['sex'].map(Mean_encoded_subject)

0      0.188908
1      0.742038
2      0.742038
3      0.742038
4      0.188908
         ...
886    0.188908
887    0.742038
888    0.742038
889    0.188908
890    0.188908
Name: sex, Length: 891, dtype: float64

### Label encoding

In [41]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(df.pclass)

LabelEncoder()

In [42]:
df['pclass_label_encoded']=le.transform(df.pclass)

In [44]:
df.pclass_label_encoded.head()

0    2
1    0
2    2
3    0
4    2
Name: pclass_label_encoded, dtype: int64

### Frequency encoding

In [47]:
a=df.groupby(['pclass'])['survived'].count().to_dict()
df.pclass.map(a)

0      491
1      216
2      491
3      216
4      491
      ...
886    184
887    216
888    491
889    216
890    491
Name: pclass, Length: 891, dtype: int64

In [ ]:
import catal
top10 = df['age'].value_counts()[:10].index
df.loc[~df['age'].isin(top10), 'age'] = 'OTHER'
encoder = ce.OneHotEncoder(use_cat_names=True)
df_encoded = encoder.fit_transform(df)
df_encoded.head()